@font-face {
  font-family: 'Roboto-SW';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold-SW';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black-SW';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black.ttf') format('truetype'),
    url('../fonts/Roboto-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova-Black-SW';
  src: url('../fonts/Proxima Nova Black.eot');
  src: url('../fonts/Proxima Nova Black.woff') format('woff'),
    url('../fonts/Proxima Nova Black.ttf') format('truetype'),
    url('../fonts/Proxima Nova Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

body {
  background: #070506 url(../img/main-bg.jpg) top right -110% no-repeat;
  background-size: contain;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Roboto-SW', sans-serif;
  font-size: 18px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1060px;
}

.header {
  padding-left: 6px;
  padding-top: 90px;
  padding-bottom: 78px;
}

.header,
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list {
  min-width: 314px;
  justify-content: space-between;
  font-family: 'Roboto-SW';
  font-size: 16px;
  line-height: 24px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 20px 0;
}

.nav-link:hover {
  color: #fb641a;
  transition: 0.3s;
}

.header-logo {
  margin-right: 70px;
}

.hero-subtitle {
  font-family: 'Proxima-Nova-Black-SW', sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 4px;
}

.hero-title {
  font-family: 'Proxima-Nova-Black-SW', sans-serif;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 24px;
}

.hero-description {
  line-height: 27px;
  max-width: 572px;
  color: #afafaf;
  margin-bottom: 24px;
}

.hero-premier {
  display: block;
  line-height: 27px;
  color: #b02000;
  margin-bottom: 4px;
}

.hero-data {
  display: block;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 46px;
}

.button {
  animation-iteration-count: 6;
}

.hero-button-play {
  position: relative;
  border: none;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border-radius: 300px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 24px 34px;
  padding-right: 84px;
  text-decoration: none;
}

.hero-button-play::after {
  content: '';
  width: 64px;
  height: 64px;
  background: #fff url(../img/play.svg) right 16px top 14px no-repeat;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.hero-button-play::before {
  content: '';
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
}

.episodes {
  padding-top: 58px;
}

.episodes-title {
  font-family: 'Roboto-Bold-SW', sans-serif;
  line-height: 27px;
  margin-bottom: 24px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  line-height: 27px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  background: rgba(80, 80, 80, 0.86);
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 28px;
  position: relative;
  overflow: hidden;
}

.slider-item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.slider-item:hover {
  transition: 0.3s;
  background: rgba(64, 101, 255, 0.86);
}

.slider-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.slider-item-year {
  margin-bottom: 4px;
}

.slider-item-title {
  max-width: 194px;
  min-height: 80px;
  margin-bottom: 12px;
}

.slider-item-rating {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.slider-item-rating-label {
  font-size: 13px;
  line-height: 20px;
  margin-right: 10px;
}

.slider-item-rating-stars {
  display: flex;
  font-size: 0;
}

.slider-item-rating-stars img:not(:last-of-type) {
  margin-right: 2px;
  font-size: 0;
}

.star {
  background-color: #fff;
}

.slider-nav-left {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url(../img/arrow-left.svg) no-repeat center;
  margin-right: 16px;
  cursor: pointer;
}

.slider-nav-right {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url(../img/arrow-right.svg) no-repeat center;
  cursor: pointer;
}

.slider-nav-left span,
.slider-nav-right span {
  display: none;
}

@media (max-width: 1199.98px) {
  .wrapper {
    margin: 0 auto;
    max-width: 860px;
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    margin: 0 auto;
    max-width: 720px;
  }
}

@media (max-width: 769.98px) {
  .wrapper {
    margin: 0 auto;
    max-width: 520px;
  }
}

@media (max-width: 567.98px) {
  .wrapper {
    margin: 0 auto;
    max-width: 350px;
  }

  .header {
    flex-direction: column;
    align-items: start;
    padding: 20px 0 40px 0;
  }

  .header-logo {
    margin-bottom: 30px;
  }

  .hero-subtitle {
    font-size: 24px;
  }

  .hero-title {
    font-size: 36px;
    line-height: 120%;
  }

  .hero-description {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .wrapper {
    margin: 0 auto;
    max-width: 280px;
  }

  .header {
    padding: 20px 0 40px 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
  }

  .nav-list li {
    margin-bottom: 10px;
  }
}
